@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Gugi', cursive;
}
.body-camo{
   display: flex;
   justify-content: flex-end;
   align-items: flex-end;
   min-height: 100vh;
}
footer{
   position: relative;
   width: 100%;
   background: #94af76;
   min-height: 100px;
   padding: 20px 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
footer .social_icon, 
footer .menu
{
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 10px 0;
   flex-wrap: wrap;
   z-index: 10000;
}
footer .social_icon li,
footer .menu li 
{
   list-style: none;
}
footer .social_icon li a{
   font-size: 1.5em;
   color: white;
   margin: 0 10px;
   display: inline-block;
   transition: 0.3s;
   z-index: 1000;
}
footer .social_icon li a:hover{
   transform: translateY(-10px);
}
footer .menu li a{
   font-size: 1.2em;
   color: #dcedc8;
   text-shadow: black;
   margin: 0 10px;
   display: inline-block;
   text-decoration: none;
   opacity: 0.75;
   z-index: 10000;
}
footer .menu li a:hover{
   opacity: 1;
   color: white;
} 

footer p{
   color: white;
   text-align: center;
   margin-top: 10px;
   margin-bottom: 0px;
   font-size: 0.7em;
}

footer .wave{
	margin-top 300px;
   position: absolute;
   top: -100px;
   left: 0;
   width: 100%;
   height: 100px;
   background: url(wave.png);
   background-size: 1000px 100px;
}

footer .wave#wave1{
   z-index: 1000;
   opacity: 1;
   bottom: 0;
   animation: animateWave 4s linear infinite;
   -webkit-animation: animateWave 4s linear infinite;
   
}
footer .wave#wave2{
   z-index: 999;
   opacity: 0.5;
   bottom: 10px;
   animation: animateWave_02 4s linear infinite;
   -webkit-animation: animateWave_02 4s linear infinite;
}
footer .wave#wave3{
   z-index: 1000;
   opacity: 0.2;
   bottom: 15px;
   animation: animateWave 3s linear infinite;
   -webkit-animation: animateWave 3s linear infinite;
}
footer .wave#wave4{
   z-index: 999;
   opacity: 0.7;
   bottom: 20px;
   animation: animateWave_02 3s linear infinite;
   -webkit-animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave
{
   0%
   {
      background-position-x: 1000px;
   }
   100%
   {
      background-position-x: 0px;
   }
}
@keyframes animateWave_02
{
   0%
   {
      background-position-x: 0px;
   }
   100%
   {
      background-position-x: 1000px;
   }
}
@-webkit-keyframes animateWave
{
   0%
   {
      background-position-x: 1000px;
   }
   100%
   {
      background-position-x: 0px;
   }
}
@-webkit-keyframes animateWave_02
{
   0%
   {
      background-position-x: 0px;
   }
   100%
   {
      background-position-x: 1000px;
   }
}