.div1{
	text-align:center;
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.box1{
	margin-top:20px;
	margin-bottom:10px;
}
.box2{
	margin-top:20px;
	margin-bottom:10px;
}
.box3{
	margin-top:10px;
	margin-bottom:10px;
}
.box4{
	margin-top:10px;
	margin-bottom:10px;
}
.box5{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}

.box6{
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}
input[type=text]{
	cursor: pointer;
	width:200px;
	height:18px;
}
input[type=checkbox], input[type=date]{
	cursor: pointer;
	
}
input[type=submit], input[type=reset], input[type=button]{
	padding: 7px 15px;
	margin: 7px 5px;
	cursor: pointer;
	font-size: 1.1em;
	border-radius: 30px;
	border: none;
	background-color: black;
	color: white;
}
h2{
	padding:20px 20px 5px;
}
ul.mylist , ol.mylist  {
    display: inline-block;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #efefef;
    font-size: 12px;
    list-style:none;
}

.Main_container{
	width: 100%;
    height: 100%;
}

.thumbnail { padding:10px 20px 10px; border:none; width:400px; text-align:center; }
.thumbnail img{ width:100%;height: 300px; object-fit:cover; margin-bottom: 10px; border-radius: 20%;}
.container {width:30%;  padding:10px; border: none; float:left; }


